<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/static/haiku.css">

<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Merienda:700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>


<body>
<div id="background">
<div id="container">
    <div id="header">
        <h1>Strange Haiku</h1>
        <!--<h2>Random haikus of questionable quality and taste.</h2>-->
    </div>
    
    <a href="javascript:window.location.reload()">
	<div id="haiku">
		<p>
			<div id="haiku1">
				<p>{{ haiku1 }}</p>
			</div>
			<div id="haiku2">
				<p>{{ haiku2 }}</p>
			</div>
			<div id="haiku3">
				<p>{{ haiku3 }}</p>
			</div>
		</p>

	</div>
    </a>
    <div id="buffer">
    </div>
    <div id="footer">
        <h3>Made by a kitten &copy;2014</h3> 
    </div>



</div>
</div>
</body>
</html>